<div class="card rounded mx-auto" style="width: 400px">
  <div class="card-body">
    <div class="card-title text-center">
      <h3> Sales Analytics </h3>
    </div>
    <hr>
    <div class="card-text">
      <p>Total Stock Amount:
      <span class="btn btn-info btn-sm ms-2"> <%= number_to_currency(@total_inventory_amount) %></span></p>
      <p>Total Sales Amount:
        <span class="btn btn-success btn-sm ms-2"> <%= number_to_currency(@sold_price_amount) || 200 %></span>
      </p>
      <p>In Transit Amount:
        <span class="btn btn-warning btn-sm ms-2"> <%= number_to_currency(@in_transit_amount) || 200 %></span>
      </p>
    </div>
  </div>
</div>